<table mat-table [dataSource]="dataSource" class="table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nameMusic">
    <th mat-header-cell *matHeaderCellDef> Наименование звука </th>
    <td mat-cell *matCellDef="let element"> {{element.nameMusic}} </td>
  </ng-container>

  <ng-container matColumnDef="nameFileMusic">
    <th mat-header-cell *matHeaderCellDef> Имя файла звукозаписи </th>
    <td mat-cell *matCellDef="let element"> {{element.nameFileMusic}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="row_table" (click)="getAudio(row.nameFileMusic, row.nameMusic)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div class="container" *ngIf="audioPlayerFile">
  <div class="name_audio">{{audioPlayerName}}</div>
  <audio controls src="{{audioPlayerFile}}"></audio>
</div>
